* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
    
    
  }

  .Banner img {
    width: 100%;    /* fills the container horizontally */
    max-width: 1350px; /* optional: don’t blow up beyond original size */
    height: auto;   /* keeps aspect ratio */
    display: block; /* removes default inline spacing */
}
body
{
    margin-left: 12%;
    background-color: rgb(163, 163, 163);
    background-size: 1500px;
    background-repeat: no-repeat;
    max-width: 75.9%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
    

}

body .Banner img
{
  margin: 0;
  display: block;

}

div nav 
{ 
  background-image: url(Images/NavBar.png);
  display: flex; 
  background-repeat: repeat;
  justify-content: space-between; 
  padding: 2%; margin: 0; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); 
  background-size: cover; /* stretches to cover the entire container */
  background-position: center;
  
} 

div nav ul 
{ display: flex; 
  flex-wrap: wrap;
  list-style: none; 
  gap: 1rem; 
  align-items: center; 
} 
div nav ul li a 
{ 
  text-decoration: none; 
  font-family: 'Times New Roman', Times, serif; 
  color:rgb(65, 64, 64); font-weight: bold; 
} 
.NavBar 
{ 
  margin: 0; 
  padding: 0; 
  
}

.content-box 
{
    background-color: rgb(255, 255, 255);
        
    height: auto;        /* adjust size */
    max-width: 95%;       /* prevent it from getting too wide */
    margin: 0rem auto;      /* center horizontally + add vertical space */
    padding: 1.5rem;        /* inner spacing */
       /* rounded corners */
    font-family: 'Times New Roman', Times, serif;
    overflow: visible;        /* enable vertical scroll inside */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
    
    
}







